<div class="hero-area" id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="left-content">
                    <div class="content">
                        <h1 class="title">
                            100% Secure Investment Plan
                        </h1>
                        <p class="text">
                            Quality control of your data including read length distribution and uniformity assessment.
                        </p>
                        <div class="subscribe-area">
                            <form action="#" class="subscribe-form">
                                <input type="email" placeholder="Enter your email">
                                <button type="submit" class="submit-btn">Start Trial</button>
                            </form>
                            <a href="https://www.youtube.com/watch?v=CLuF2GK3Xzw" class="video-play-btn mfp-iframe">
                                
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="right-content">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.hero-area {
  position: relative;
  overflow: hidden;
}
.hero-area .left-content {
  z-index: 9;
}
.hero-area .left-content .content .title {
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 19px;
}
.hero-area .left-content .content .text {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 40px;
  margin-bottom: 47px;
}
.hero-area .left-content .content .subscribe-area .subscribe-form {
  position: relative;
}
.hero-area .left-content .content .subscribe-area .subscribe-form input {
  width: 100%;
  height: 55px;
  border: 0px;
  background: #fff;
  border-radius: 50px;
  padding: 0px 190px 0px 30px;
}
.hero-area .left-content .content .subscribe-area .subscribe-form .submit-btn {
  position: absolute;
  top: 2px;
  right: 2px;
  height: 51px;
  line-height: 51px;
  padding: 0px 30px;
  background: linear-gradient(50deg, #6e00ff 0, #bb00ff 100%);
  background-size: 100% 200%;
  color: #fff;
  border: 0px;
  border-radius: 50px;
  transition: all 0.3s ease-in;
}
.hero-area .left-content .content .subscribe-area .subscribe-form .submit-btn:focus {
  outline: 0px;
  box-shadow: unset;
}
.hero-area .left-content .content .subscribe-area .subscribe-form .submit-btn:hover {
  background-size: 200% 100%;
}

.hero-area {
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-moz-gradient(to bottom, #4A00E0, #8E2DE2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #4A00E0, #8E2DE2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 165px 0px 249px;
}
.hero-area .left-content {
  z-index: 9;
}
.hero-area .left-content .content .title {
  color: #fff;
}
.hero-area .left-content .content .text {
  color: #fff;
}
.hero-area .left-content .content .subscribe-area {
  display: flex;
}
.hero-area .left-content .content .subscribe-area .subscribe-form {
  align-self: center;
  position: relative;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  flex: 1;
}
.hero-area .left-content .content .subscribe-area .video-play-btn {
  margin-left: 20px;
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}
.hero-area .left-content .content .subscribe-area .video-play-btn::before {
  width: 60px;
  height: 60px;
}
.hero-area .right-content {
  text-align: center;
  padding: 0px 30px;
}
.hero-area .right-content img {
  display: inline-block;
}
</style>
{% schema %}
{
    "name": "hero",
    "settings": [
        {
            "type": "image_picker",
            "id": "image1",
            "label": "Image 1"
        },
        {
            "type": "image_picker",
            "id": "image2",
            "label": "Image 2"
        },
        {
            "type": "text",
            "id": "heading1",
            "label": "Heading 1",
            "default": "100% Secure Investment Plan"
        },
        {
            "type": "richtext",
            "id": "richtext1",
            "label": "Richtext 1",
            "default": "<p>Quality control of your data including read length distribution and uniformity assessment.</p>"
        },
        {
            "type": "url",
            "id": "link1",
            "label": "Link 1"
        },
        {
            "type": "text",
            "id": "link1text",
            "label": "Link 1 text",
            "default": "{% if section.settings.image1 != blank %}{{ section.settings.image1 | image_url:  | image_tag: class: '', loading: 'lazy' }}{% endif %}"
        },
        {
            "type": "text",
            "id": "button1",
            "label": "Button 1",
            "default": "Start Trial"
        }
    ],
    "presets": [
        {
            "name": "hero"
        }
    ]
}
{% endschema %}
